Aurélie Marinho <aurelie.marinho@telecom-paristech.fr>
Pierre Dumoulin <pierre.dumoulin@telecom-paristech.fr>
Pierre Dumoulin <pierre.dumoulin@telecom-paristech.fr> <pierredumoulin@MacBook-Pro-de-Pierre.local>
Pierre Dumoulin <pierre.dumoulin@telecom-paristech.fr> <dumoulinpierre@icloud.com>
